body {
  margin: 0;
  padding: 0;
  background: var(--background);
  box-sizing: border-box;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
	max-width: 762px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
	outline-color: var(--primary);
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #6C7077;
	--gray: #A4A4A4;
	--white: white;
	--primary: #7351F5;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--red-light: #FEA291;
	--red-alert: #C3431C;
	--background: #F5F6F8;
	--font-family: noto sans display, sans-serif;
}
