.calendar {
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  padding: 15px 15px 15px 0;
  // width: 2000px;
  overflow-x: auto;

}

.toDo {
  padding: 15px;

  &__addTaskBtn {
    display: block !important;
    margin: 0 auto;
    width: 33%;
    font-weight: 600;
  }
}